
 <link rel="stylesheet" href="/css/styles.css">
<body>
    <form action="/login" method="post">
        <div class="box">
            <div class="title">
                <hi>Login</hi>
            </div>
            
        <div class="username">
            <label>Username: </label>
            <input type="text" name="username" id="username" placeholder="Enter your username"  required />
        </div>
        <div class="username">
            <label>Password:</label>
            <input type="password" name="password" placeholder="Enter your password" required />
        </div>
        <div class="button">
            <input  type="submit" value="Login"/>
        </div>
        <div class="button">
            <a href="/register">Register</a>
        </div>
        </div>
    </form>
</body>